openapi: 3.0.3
info:
  title: Data Wise - API de Transações
  description: |-
    API para realizar busca de dados de entidades, eventos e suas transações.
  contact:
    email: contato@tnb.live
  version: "0.1"
servers:
  - url: https://api.datawise.cloud/bi
tags:
  - name: entity
    description: Entidades/empresas
  - name: event
    description: Eventos
  - name: product
    description: Produtos
  - name: transaction
    description: Transações
  - name: auth
    description: Autenticação
paths:
  /entities:
    get:
      tags:
        - entity
      summary: Lista de entidades
      description: Lista paginada de entidades
      parameters:
        - name: page
          in: query
          description: Página de registros desejada
          required: false
          schema:
            type: number
            default: 1
      responses:
        '200':
          description: Requisição realizada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEntities'
        '401':
          description: Usuário não autenticado
        '403':
          description: Sem permissão de acesso
        '422':
          description: Parâmetros de busca inválidos
      security:
        - bearerAuth: []
  /entities/{entityUuid}/events:
    get:
      tags:
        - event
      summary: Lista de eventos da entidade
      description: Lista paginada de eventos com dados sobre seu tipo, local, sessões e fontes de transação
      parameters:
        - name: entityUuid
          in: path
          description: O uuid da entidade
          required: true
          schema:
            type: string
            format: uuid
            example: 0191eea5-c009-7788-a78d-ecd0322e215f
      responses:
        '200':
          description: Requisição realizada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEvents'
        '401':
          description: Usuário não autenticado
        '403':
          description: Sem permissão de acesso
        '404':
          description: Entidade não encontrada
        '422':
          description: Parâmetros de busca inválidos
      security:
        - bearerAuth: []
  /entities/{entityUuid}/products:
    get:
      tags:
        - product
      summary: Lista de produtos da entidade
      parameters:
        - name: entityUuid
          in: path
          description: O uuid da entidade
          required: true
          schema:
            type: string
            format: uuid
            example: 0191eea5-c009-7788-a78d-ecd0322e215f
      responses:
        '200':
          description: Requisição realizada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEntityProducts'
        '401':
          description: Usuário não autenticado
        '403':
          description: Sem permissão de acesso
        '404':
          description: Entidade não encontrada
        '422':
          description: Parâmetros de busca inválidos
      security:
        - bearerAuth: []
  /transaction-sources/{transactionSourceUuid}/transactions:
    get:
      tags:
        - transaction
      summary: Lista de Transações de uma Fonte de Transações
      parameters:
        - name: transactionSourceUuid
          in: path
          description: O uuid da Fonte de Transações
          required: true
          schema:
            type: string
            format: uuid
            example: 0191f2fa-c1d4-7ae3-85be-da58f0164d73
      responses:
        '200':
          description: Requisição realizada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTransactions'
        '401':
          description: Usuário não autenticado
        '403':
          description: Sem permissão de acesso
        '404':
          description: Fonte de Transações não encontrada
        '422':
          description: Parâmetros de busca inválidos
      security:
        - bearerAuth: []
  /login:
    post:
      tags:
        - auth
      summary: Logs user into the system
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  format: email
                  example: usuario@entidade.com
                password:
                  type: string
                  example: 123456
      responses:
        '200':
          description: Requisição realizada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: spiLkeOFZiIyJMCdQ47USLM8ueFqkOB13MKrljwk39157341
                  user:
                    type: object
                    properties:
                      uuid:
                        type: string
                        format: uuid
                        example: 0191f93c-d5eb-7b01-aecb-55396d8ef852
                      name:
                        type: string
                        example: Nome do Usuário
                      email:
                        type: string
                        example: usuario@entidade.com
        '401':
          description: Credenciais inválidas
components:
  schemas:
    PaginatedResponse:
      type: object
      properties:
        total:
          type: integer
          format: int32
          example: 50
        per_page:
          type: integer
          format: int32
          example: 15
        current_page:
          type: integer
          format: int32
          example: 1
        last_page:
          type: integer
          format: int32
          example: 4
        first_page_url:
          type: string
          format: uri
          example: https://api.datawise.cloud/bi/endpoint?page=1
        last_page_url:
          type: string
          format: uri
          example: https://api.datawise.cloud/bi/endpoint?page=4
        next_page_url:
          type: string
          format: uri
          example: https://api.datawise.cloud/bi/endpoint?page=2
        prev_page_url:
          type: string
          format: uri
          example: null
        from:
          type: integer
          format: int32
          example: 1
        to:
          type: integer
          format: int32
          example: 15
    PaginatedEntities:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Entity'
    PaginatedEntityProducts:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/EntityProduct'
    PaginatedEvents:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Event'
    PaginatedTransactions:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Transaction'
    Entity:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 0191eea5-c009-7788-a78d-ecd0322e215f
        type:
          type: string
          description: Define se a entidade é PF ou PJ
          enum:
            - COMPANY
            - INDIVIDUAL
        name:
          type: string
          example: Nome da Empresa
        image:
          type: string
          format: uri
          example: https://api.datawise.cloud/images/branding/googlelogo/1x/googlelogo_light_color_272x92dp.png
    Event:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 0191eecd-3dec-7aae-a398-5f9290ce1db1
        name:
          type: string
          example: Nome do Evento
        reference_date:
          type: string
          format: date
          example: "2024-01-01"
        start:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
        finish:
          type: string
          example: "2024-01-01T13:00:00.000000Z"
        operation_start:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
        operation_finish:
          type: string
          example: "2024-01-01T13:00:00.000000Z"
        created_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
        updated_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
        reference_hour:
          type: string
          example: "12:00:00"
        open_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
        close_at:
          type: string
          example: "2024-01-01T13:00:00.000000Z"
        metatada:
          type: object
          properties:
            id_gsh:
              type: object
              properties:
                label:
                  type: string
                  example: "id gsh"
                value:
                  type: string
                  example: "16"
            id_allianz:
              type: object
              properties:
                label:
                  type: string
                  example: "id allianz"
                value:
                  type: string
                  example: "1234_12345"

        event_type:
          $ref: '#/components/schemas/ChildEventType'
        place:
          $ref: '#/components/schemas/Place'
        event_sessions:
          type: array
          items:
            $ref: '#/components/schemas/EventSession'
        transaction_sources:
          type: array
          items:
            $ref: '#/components/schemas/TransactionSource'
    EventType:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 0191eed7-8de7-761c-af44-bbf672b7114c
        name:
          type: string
          example: Nome do Tipo de Evento
    ChildEventType:
      allOf:
        - $ref: '#/components/schemas/EventType'
        - type: object
          properties:
            parent:
              $ref: '#/components/schemas/EventType'
            name:
              type: string
              example: Nome do Subtipo de Evento
    EntityProduct:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 0191f3ef-a2b5-7324-b8c9-22c87be1f384
        entity_product_category_uuid:
          type: string
          format: uuid
          example: 0191f403-cafe-7fed-8501-08aa8ba382b1
        entity_product_subcategory_uuid:
          type: string
          format: uuid
          example: 0191f929-ccca-706f-97ea-ee2084759668
        product_brand_uuid:
          type: string
          format: uuid
          example: 0191f404-dadf-7447-ace7-c67f400b80b3
        product_packaging_uuid:
          type: string
          format: uuid
          example: 0191f406-1caa-7985-b201-038b3cddce42
        product_type_uuid:
          type: string
          format: uuid
          example: 0191f3ff-d96c-78af-9209-74a7aeb0ae44
        name:
          type: string
          example: Nome do Produto
        created_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
        updated_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
        unitary_volume:
          type: number
          format: float
          example: 500
        unit_of_measurement:
          type: string
          enum:
            - ML
            - G
            - UNID
        entity_product_category:
          $ref: '#/components/schemas/EntityProductCategory'
        entity_product_subcategory:
          example: TOOD
        product_brand:
          $ref: '#/components/schemas/ProductBrand'
        product_packaging:
          $ref: '#/components/schemas/ProductPackaging'
        product_type:
          $ref: '#/components/schemas/ProductType'
    EventSession:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 0191f2f9-635d-70ba-af79-6d2a7a258c9c
        name:
          type: string
          example: Nome da Sessão
        start:
          type: string
          example: "2024-01-01T11:00:00.000000Z"
        finish:
          type: string
          example: "2024-01-01T13:00:00.000000Z"
        created_at:
          type: string
          example: "2024-01-01T10:00:00.000000Z"
        updated_at:
          type: string
          example: "2024-01-01T10:00:00.000000Z"
    Place:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 0191f2f8-7da2-7f1a-81e9-f42147cc7cab
        name:
          type: string
          example: Nome do Local
        created_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
        updated_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
    ProductBrand:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 0191f404-dadf-7447-ace7-c67f400b80b3
        name:
          type: string
          example: Nome da Marca do Produto
        created_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
        updated_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
    ProductPackaging:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 0191f406-1caa-7985-b201-038b3cddce42
        name:
          type: string
          description: Nome da Embalagem (Lata; Caixa; etc)
          example: Lata
        created_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
        updated_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
    ProductType:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 0191f3ff-d96c-78af-9209-74a7aeb0ae44
        name:
          type: string
          example: Tipo de Produto
        created_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
        updated_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
    EntityProductCategory:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 0191f403-cafe-7fed-8501-08aa8ba382b1
        name:
          type: string
          example: Nome da Categoria de Produto
        created_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
        updated_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
    TransactionSource:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 0191f2fa-c1d4-7ae3-85be-da58f0164d73
        provider:
          type: string
          enum:
            - ZIG
            - CSV
        name:
          type: string
          example: Nome da Fonte de Transações
        synced_until:
          type: string
          description: Data até onde a integração foi varrida para realizar a sincronização. Não significa que a última transação terá o cadastro nesse valor visto que podem existir ranges de data e hora onde não existam transações.
          example: "2024-01-01T12:00:00.000000Z"
        is_active:
          type: boolean
          example: true
        created_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
        updated_at:
          type: string
          example: "2024-01-01T12:00:00.000000Z"
    Transaction:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 0191f302-7541-7f8f-9ca3-e5b78d11bf15
        external_id:
          type: string
          format: uuid
          example: 0191f3eb-01df-7bee-8593-864faf527d64
        event_session_uuid:
          type: string
          format: uuid
          example: 0191f2f9-635d-70ba-af79-6d2a7a258c9c
        activation_tax:
          type: number
          format: float
          example: 0
        bonus:
          type: number
          format: float
          example: 0
        chip:
          type: string
          example: "575964120"
        confirmation_date:
          type: string
          example: "2024-01-01 12:00:00"
        date:
          type: string
          example: "2024-01-01 11:59:50"
        operation:
          type: string
          description: Tipo de Operação da Transação (Ativação + Recarga; Compra Ficha; etc)
          example: Ativação + Recarga
        operator:
          type: string
          example: "00006647"
        point_of_sale_type:
          type: string
          description: Tipo de PDV (Operacional, Produção, Reembolso)
          example: Operacional
        point_of_sale_code:
          type: string
          example: "000935"
        point_of_sale_name:
          type: string
          example: Nome do PDV
        register_date:
          type: string
          example: "2024-01-01 12:01:00"
        status:
          example: Efetivada
        terminal:
          type: string
          example: "0YY7FCU8EBVXHI"
        total_value:
          type: number
          format: float
          example: 3.18
        payment_methods:
          type: array
          items:
            $ref: '#/components/schemas/TransactionPaymentMethods'
        transaction_items:
          type: array
          items:
            $ref: '#/components/schemas/TransactionItem'
    TransactionPaymentMethods:
      type: object
      properties:
        code:
          type: integer
          example: 5
        description:
          type: string
          example: Zig Cashless
    TransactionItem:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 0191f31c-aa49-7cbc-b1c7-1344e9f46660
        entity_product_uuid:
          type: string
          format: uuid
          example: 0191f3ef-a2b5-7324-b8c9-22c87be1f384
        quantity:
          type: integer
          minimum: 1
          example: 2
        unitary_value:
          type: number
          format: float
          example: 1.59
        value:
          type: number
          format: float
          example: 3.18
        entity_product:
          $ref: '#/components/schemas/EntityProduct'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
